<form class="example-form">

  <mat-toolbar color="primary">Autocompletion Applet</mat-toolbar>

  <p class="instructions-font">
    This applet accepts some amount of training text in which it learns what words a user uses most often. It can also use a wordlist of the 20,000 most commonly used words in the english language.
  </p>

  <div>
    <mat-form-field class="example-full-width">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" placeholder="Training text" [(ngModel)]="textAreaText" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
  </div>

  <div class="button-div">
    <button mat-raised-button [disabled]="textAreaText==''" color="accent" (click)="trainModel()">Train Model</button>
    <span style="width: 1em;"></span>
    <button mat-raised-button color="primary" (click)="useWordList()">Use Word List</button>
  </div>

  <p class="instructions-font">
    It will attempt to automatically complete a user's word based on a word fragment simulating autocompletion.
  </p>

  <div>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Word fragment" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="inputText">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <div *ngFor="let option of filteredSortedOptions | async">
          <mat-option *ngIf="inputText != ''" [value]="selected(option[0])">
            {{ option[0] }}
          </mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field>
  </div>

</form>